# Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
**/bin/
**/obj/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.cache
*.cache

# VS Code
.vscode/

# Rider
.idea/

# JetBrains Rider
.idea/
*.iml
*.sln.iml